{% set classes = [
  'usa-collection__item',
  settings.flag ? 'usa-card--flag',
  settings.media_right ? 'usa-card--media-right',
  settings.header_first ? 'usa-card--header-first',
] %}

{% if url is iterable %}
  {% set url = url.0['#markup'] %}
{% endif %}

<li class="usa-collection__item">
    {% if image and image is iterable and image['#field_type'] == 'image' %}
      <div class="usa-collection__img">
        {{ image }}
      </div>
    {% else %}
      {% if image.type != 'none' %}
        {% if image.type == 'field' %}
          {{ image }}
        {% endif %}
        {% if image.type == 'entity' %}
          {{ image.entity }}
        {% endif %}
        {% if image.type == 'url' %}
          <img
            class="usa-collection__img"
            src={{ image.url }}
            alt="{{ image.alt }}"
            title="{{ image.title }}"
          />
        {% endif %}
      {% endif %}
    {% endif %}

    {% if date %}
      {% if date is iterable %}
        {% if date['#field_type'] == 'daterange' %}
          {% set date = date.0.start_date['#text'] %}
        {% endif %}
      {% endif %}

      <div class="usa-collection__calendar-date">
        <time datetime="{{ date }}"
          ><span class="usa-collection__calendar-date-month">{{ date|date("M") }}</span>
          <span class="usa-collection__calendar-date-day">{{ date|date("d") }}</span></time
        >
      </div>
    {% endif %}

    <div class="usa-collection__body">
      <h4 class="usa-collection__heading">
        <a
          class="usa-link"
          href="{{ url }}"
          >{{ title }}</a
        >
      </h4>
      {% if block('body')|trim %}
        <div class="usa-collection__description">
          {% block body %}{% endblock %}
        </div>
      {% endif %}

      {% if meta %}
        {% for meta_list in meta %}
          <ul class="usa-collection__meta" aria-label="{{ meta_list.aria_label }}">
            {% for list_item in meta_list.list_items %}
              <li class="usa-collection__meta-item{{ meta_list.type == 'tags' ? ' usa-tag' }}">
                {{ list_item }}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endif %}
    </div>
  </li>
