<div class="layout-container">
  {% embed 'uscgov:header' with {
      main_menu: page.header.uscgov_main_menu
    } %}
    {% block main_menu %}
      {{ main_menu }}
    {% endblock %}
  {% endembed %}

  {% embed 'uscgov:homepage-hero' with {
    title: config_pages_field('global_site_settings', 'field_homepage_hero_title', 'full')|add_suggestion('bare'),
    description: config_pages_field('global_site_settings', 'field_homepage_hero_description', 'full')|add_suggestion('bare'),
  } %}
    {% block homepage_hero_image %}
      {{ config_pages_field('global_site_settings', 'field_hero_background_image', 'full')|add_suggestion('bare') }}
    {% endblock %}
    {% block homepage_hero_link %}
      {{ config_pages_field('global_site_settings', 'field_homepage_hero_cta', 'full')|add_suggestion('bare') }}
    {% endblock %}
  {% endembed %}


  {{ include('uscgov:quicklinks', {
    title: 'Quick Links',
    quicklinks: [
      {
        title: 'Bankruptcy',
        url: '#',
        svg_path: '/themes/custom/uscgov/images/bankruptcy.svg',
      },
      {
        title: 'Bankruptcy',
        url: '#',
        svg_path: '/themes/custom/uscgov/images/bankruptcy.svg',
      },
      {
        title: 'Bankruptcy',
        url: '#',
        svg_path: '/themes/custom/uscgov/images/bankruptcy.svg',
      },
      {
        title: 'Bankruptcy (but not me of course)',
        url: '#',
        svg_path: '/themes/custom/uscgov/images/bankruptcy.svg',
      },
      {
        title: 'Bankruptcy',
        url: '#',
        svg_path: '/themes/custom/uscgov/images/bankruptcy.svg',
      },
      {
        title: 'Bankruptcy',
        url: '#',
        svg_path: '/themes/custom/uscgov/images/bankruptcy.svg',
      },
    ],
  }, with_context = false) }}
  <div class="container">
    {{ page.highlighted }}
    {{ page.help }}
    {{ page.breadcrumb }}
  </div>

  <main role="main" class="container">
    <div class="grid-row">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      {% if page.sidebar %}
        <aside class="layout-sidebar-first grid-col-3" role="complementary">
          {{ page.sidebar }}
        </aside>
      {% endif %}

      <div class="layout-content grid-col-fill">
        {{ page.content }}
      </div>

    </div>
  </main>

  {% embed 'uscgov:footer' with {
    footer_above_region: page.footer_above,
    footer_main_region: page.footer_main,
    brand_text: config_pages_field('global_site_settings', 'field_seal_te', 'full')|add_suggestion('bare'),
    footer_cta_title: config_pages_field('global_site_settings', 'field_footer_cta_title', 'full')|add_suggestion('bare'),
    footer_cta_body: config_pages_field('global_site_settings', 'field_footer_cta_body', 'full')|add_suggestion('bare'),
    footer_cta_link: config_pages_field('global_site_settings', 'field_footer_cta_link', 'full')|add_suggestion('bare'),
  } only %}
    {% block footer_seal %}
      {{ config_pages_field('global_site_settings', 'field_footer_seal', 'full')|add_suggestion('bare') }}
    {% endblock %}
    {% block footer_above %}
      {{ footer_above_region }}
    {% endblock %}
    {% block footer_below %}
      {{ footer_main_region }}
    {% endblock %}
    {% block footer_social_media %}
      {{ config_pages_field('global_site_settings', 'field_social_media', 'full') }}
    {% endblock %}
  {% endembed %}

</div>
