{#
/**
 * @file
 * Implementation to present a menu link entity entity.
 *
 * Available variables:
 * - menu_link_content: Menu link entity.
 * - show_item_link: Indicator for menu item link.
 *
 * @see template_preprocess_menu_link_content()
 *
 * @ingroup themeable
 */
#}

{% import _self as menu %}
{{ menu.build_menu_link_content(attributes, menu_link_content, show_item_link, content, elements) }}

{% macro build_menu_link_content(attributes, menu_link_content, show_item_link, content, elements) %}
  {# {% set megamenu_enabled = menu_link_content.field_enable_megamenu.value %} #}

  {% set menu_level = elements['#menu_level'] %}
  {% if menu_level == 0 and content.children %}
    <div class="primary-menu__dropdown-first">
      <button class="primary-menu__mobile-back-button">{{ 'Main Menu'|t }}</button>
      <h3 class="primary-menu__dropdown-title">
        {#
         We need to wrap the last word of the title in a <span> and set that not
         to wrap. This ensures that the following arrow icon never hangs on a
         new line by itself. To do this, we split the title, and use a for loop
         to add a <span> around the last word.
         #}
        {% set title_words = menu_link_content.title.value|split(' ') %}
        {% set title %}
          {% for word in title_words %}
            {% if loop.last %}
              <span class="last-word">{{ word }}</span>
            {% else %}
              {{ word }}
            {% endif %}
          {% endfor %}
        {% endset %}

        <a href="{{ menu_link_content.link.uri }}" class="primary-menu__dropdown-title-link">
          {{ title }}
        </a>
      </h3>
      {% if content.field_description_text.0 %}
        <p class="primary-menu__mega-description-text">
          {{ content.field_description_text|add_suggestion('bare') }}
        </p>
      {% endif %}
      {% if content.field_popular_links.0 %}
        <div class="primary-menu__mega-quick-links">
          <h4 class="primary-menu__mega-popular-links-title">
            {{ 'Popular'|t }}
          </h4>
          {{ content.field_popular_links }}
        </div>
      {% endif %}
    </div>
    <div class="primary-menu__dropdown-second">
      {{ content.children }}
    </div>
  {% elseif content.children %}
    <div class="primary-menu__level-{{- menu_level + 1 -}}-wrapper">
      {# @todo #}
      <button class="primary-menu__mobile-back-button">Back</button>
      {{ link(menu_link_content.title.value, menu_link_content.link.uri) }}
      {{ content.children }}
    </div>
  {% endif %}
{% endmacro %}
