{#
/**
 * @file
 * Implementation to present a menu link entity entity.
 *
 * Available variables:
 * - menu_link_content: Menu link entity.
 * - show_item_link: Indicator for menu item link.
 *
 * @see template_preprocess_menu_link_content()
 *
 * @ingroup themeable
 */
#}

{% import _self as menu %}
{{ menu.build_menu_link_content(attributes, menu_link_content, show_item_link, content, elements) }}

{% macro build_menu_link_content(attributes, menu_link_content, show_item_link, content, elements) %}
  {# {% set megamenu_enabled = menu_link_content.field_enable_megamenu.value %} #}

  {% set menu_level = elements['#menu_level'] %}
  {% if menu_level == 0 and content.children %}
    <div class="primary-menu__dropdown-first" style="outline: solid 1px green">
      {{ link(menu_link_content.title.value, menu_link_content.link.uri, { 'class': ['primary-menu__dropdown-title-link'] }) }}
      {{ content.field_description_text }}
      {{ content.field_popular_links }}
    </div>
    <div class="primary-menu__dropdown-second">
      {{ content.children }}
    </div>
  {% else %}
    {{ menu_level == 1 ? content.field_description_text }}
    {{ content.children }}
  {% endif %}
{% endmacro %}
