{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% set menu_level = items|first.menu_level %}

  <ul{{attributes.addClass(['primary-menu', 'primary-menu--level-' ~ menu_level])}}>
    {% for key, item in items %}
      {% if key|first != '#' %}
        {% set dropdown_id = ('id-' ~ item.title ~ '-dropdown')|clean_unique_id %}
        {% set menu_item_classes = [
          'primary-menu__menu-item',
          'primary-menu__menu-item--level-' ~ menu_level,
          item.in_active_trail ? 'primary-menu__menu-item--active-trail',
        ] %}

        <li{{item.attributes.addClass(menu_item_classes)}}>
          {% if menu_level == 0 and item.below %}
            <button
              type="button"
              class="primary-menu__button"
              aria-expanded="false"
              aria-controls="{{ dropdown_id }}"
            >
              {{ item.title }}
            </button>

            <div id="{{ dropdown_id }}" class="primary-menu__dropdown">
              {{ item.content }}
            </div>
          {% elseif menu_level == 0 %}
              {{ link(item.title, item.url, { 'class': ['primary-menu__link', 'primary-menu__link--level-' ~ menu_level] }) }}
          {% else %}
            {# This nest of <div>'s is to prevent Safari from breaking layout
            when using CSS column. 🤮 #}
            <div class="primary_menu__level-2-wrapper">
              <div class="primary_menu__level-2-inner">
                <a href="{{ item.url }}" class="primary-menu__link--level-{{ menu_level }}" aria-label="{{ item.title }}">
                  <span class="primary-menu__dropdown-link-main-text">{{ item.title }}</span>
                  {{ item.content }}
                </a>
              </div>
            </div>
          {% endif %}
        </li>
      {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}
