{%
  set classes = [
    'usa-table',
    'views-table',
    'views-view-table',
    'cols-' ~ header|length,
    borderless ? 'usa-table--borderless',
    striped ? 'usa-table--striped',
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}
<table{{ attributes.addClass(classes) }}>
  {% if caption_needed %}
    <caption>
    {% if caption %}
      {{ caption }}
    {% else %}
      {{ title }}
    {% endif %}
    {% if (summary is not empty) %}
      {{ summary }}
    {% endif %}
    </caption>
  {% endif %}
  {% if header %}
    <thead>
      <tr>
        {% for key, column in header %}
          {% if column.default_classes %}
            {%
              set column_classes = [
                'views-field',
                fields[key] ? 'views-field-' ~ fields[key],
                column.url ? 'field-sortable'
              ]
            %}
          {% endif %}
          <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
            {%- if column.url -%}
              {{ column.content }}
              {% if column.sort_indicator %}
                {% if column.sort_indicator['#style'] == 'desc' %}
                  <a
                    href="{{ column.url }}"
                    title="{{ 'Click to sort by @title in descending order.'|t({'@title': column.content}) }}"
                    class="usa-table__header__link text-gray-50"
                    rel="nofollow"
                  >
                    <svg class="usa-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path transform="rotate(180, 12, 12)" d="M17 17L15.59 15.59L12.9999 18.17V2H10.9999V18.17L8.41 15.58L7 17L11.9999 22L17 17Z"></path>
                    </svg>
                  </a>
                {% endif %}

                {% if column.sort_indicator['#style'] == 'asc' %}
                  <a
                    href="{{ column.url }}"
                    title="{{ 'Click to sort by @title in ascending order.'|t({'@title': column.content}) }}"
                    class="usa-table__header__link text-gray-50"
                    rel="nofollow"
                  >
                    <svg class="usa-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path d="M17 17L15.59 15.59L12.9999 18.17V2H10.9999V18.17L8.41 15.58L7 17L11.9999 22L17 17Z"></path>
                    </svg>
                  </a>
                {% endif %}
              {% else %}
                <a
                  href="{{ column.url }}"
                  title="{{ 'Click to sort by @title.'|t({'@title': column.content}) }}"
                  class="usa-table__header__link text-gray-50"
                  rel="nofollow"
                >
                  <svg class="usa-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <polygon points="15.17 15 13 17.17 13 6.83 15.17 9 16.58 7.59 12 3 7.41 7.59 8.83 9 11 6.83 11 17.17 8.83 15 7.42 16.41 12 21 16.59 16.41 15.17 15"></polygon>
                  </svg>
                </a>
              {% endif %}
            {%- else -%}
              {{- column.content }}{{ column.sort_indicator }}
            {%- endif -%}
          </th>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}
  <tbody>
    {% for row in rows %}
      <tr{{ row.attributes }}>
        {% for key, column in row.columns %}
          {% if column.default_classes %}
            {% set column_attributes = column.attributes %}
            {%
              set column_classes = [
                'views-field'
              ]
            %}
            {% for field in column.fields %}
              {% if 'is-active' in field %}
                {% set column_attributes = column_attributes.setAttribute('data-sort-active', true) %}
              {% endif %}
              {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
            {% endfor %}
          {% endif %}
          <td{{ column_attributes.addClass(column_classes) }}>
            {%- if column.wrapper_element -%}
              <{{ column.wrapper_element }}>
              {% for content in column.content %}
                {{ content.separator }}{{ content.field_output }}
              {% endfor %}
              </{{ column.wrapper_element }}>
            {%- else -%}
              {% for content in column.content %}
                {{- content.separator }}{{ content.field_output -}}
              {% endfor %}
            {%- endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
