{{ include('uscgov:usa_banner') }}
{% set menu_wrapper_id = 'menu-wrapper'|clean_unique_id %}

<header class="header container">
  <div class="header__main">
    <a href="{{ path('<front>') }}" class="header__logo">
      <span class="visually-hidden">{{ 'Home'|t }}</span>
      <img src="/{{ componentMetadata.path }}/images/logo.webp" width="168" height="83" fetchpriority="high" alt="">
    </a>
    <div id="{{ menu_wrapper_id }}" class="header__menu-wrapper">
      <button class="header__menu-wrapper-close-button" aria-controls="{{ menu_wrapper_id }}">
        <span class="visually-hidden">{{ 'Close menu'|t }}</span>
      </button>

      {% set nav_id = 'primary-navigation-heading'|clean_unique_id %}
      <div class="header__menu-wrapper-header">
        <h2 id="{{ nav_id }}" class="header__menu-wrapper-heading">{{ 'Main Menu'|t }}</h2>
      </div>
      {{ include('uscgov:mobile-search') }}
      <nav aria-labelledby="{{ nav_id }}" class="header__navigation">
        {{ main_menu }}
      </nav>
    </div>
    <div class="header__menu-overlay"></div>
    <ul class="header__secondary-menu">
      <li class="header__secondary-item">
        <a href="/">
          <span class="header__icon-listen"></span>
          {{ 'Listen to this page'|t }}
        </a>
      </li>
      <li class="header__secondary-item header__secondary-item--spacer" aria-hidden="true">
        &nbsp;&nbsp;|&nbsp;&nbsp;
      </li>
      <li class="header__secondary-item">
        <a href="/">
          <span class="header__icon-pin"></span>
          {{ 'Find a Federal Court'|t }}
        </a>
      </li>
    </ul>
    {{ include('uscgov:desktop-search') }}
    <button class="header__menu-button" aria-expanded="false" aria-controls="{{ menu_wrapper_id }}">
      {{ 'Menu'|t }}
    </button>
  </div>


</header>
